@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-bg: #222;
	--color-grey: #9799a0;
	--color-menu-hover: rgb(75 85 99);

	--bg-primary: #1e1e1e;
	--bg-secondary: #252526;
	--bg-menu: #333333;

	--pb-size: 300px;
}
